{
  "description": "Ysicing Debian buster base box",
  "variables": {
    "version": "10.8.0.{{timestamp}}",
    "box_version": "10.8.0",
    "box_changelog": "* new point release",
    "cloud_token": "{{ env `ATLAS_TOKEN` }}"
  },
  "builders": [
    {
      "type": "virtualbox-iso",
      "name": "virtualbox-debian10-8-0-amd64",
      "vm_name": "virtualbox-debian10-8-0-amd64",
      "output_directory": "output/debian-10.8.0-amd64-virtualbox",
      "boot_wait": "10s",
      "boot_command": [
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "/install.amd/vmlinuz auto=true priority=critical vga=788 initrd=/install.amd/gtk/initrd.gz --- quiet ",
        "ipv6.disable_ipv6=1 net.ifnames=0 biosdevname=0 preseed/url=http://{{.HTTPIP}}:{{.HTTPPort}}/preseed.cfg ",        
        "<enter>"
      ],
      "disk_size": 131072,
      "cpus": 2,
      "memory": 2048,
      "vboxmanage": [
        [
          "modifyvm",
          "{{.Name}}",
          "--vram",
          "64"
        ]
      ],
      "guest_os_type": "Debian_64",
      "http_directory": "http",
      "headless": true,
      "vrdp_bind_address": "127.0.0.1",
      "vrdp_port_min": 11000,
      "vrdp_port_max": 12000,
      "iso_urls": [
        "iso/debian.iso",
        "iso/debian-10.8.0-amd64-netinst.iso",
        "https://mirrors.tuna.tsinghua.edu.cn/debian-cd/10.8.0/amd64/iso-cd/debian-10.8.0-amd64-netinst.iso",
        "http://cdimage.debian.org/mirror/cdimage/release/10.8.0/amd64/iso-cd/debian-10.8.0-amd64-netinst.iso",
        "https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-10.8.0-amd64-netinst.iso"
      ],
      "iso_checksum": "sha256:xxxx_xxxx",
      "ssh_username": "root",
      "ssh_password": "vagrant",
      "ssh_port": 22,
      "ssh_wait_timeout": "3600s",
      "shutdown_command": "echo 'vagrant'|sudo -S shutdown -P now",
      "guest_additions_url": "http://download.virtualbox.org/virtualbox/5.1.38/VBoxGuestAdditions_5.1.38.iso",
      "guest_additions_sha256": "0e7ee2c78ebf7cd0d3a933d51148bef04a64f64fb27ccf70d59cddf9ca1e517a",
      "guest_additions_path": "VBoxGuestAdditions.iso",
      "guest_additions_mode": "upload",
      "virtualbox_version_file": "VBoxVersion.txt"      
    },
    {
      "type": "parallels-iso",
      "name": "parallels-debian10-8-0-amd64",
      "vm_name": "parallels-debian10-8-0-amd64",
      "output_directory": "output/debian-10.8.0-amd64-parallels",
      "boot_wait": "10s",
      "boot_command": [
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "<esc><wait><esc><wait><esc><wait><esc><wait><esc><wait><esc><wait>",
        "/install.amd/vmlinuz auto=true priority=critical vga=788 initrd=/install.amd/gtk/initrd.gz --- quiet ",
        "ipv6.disable_ipv6=1 net.ifnames=0 biosdevname=0 preseed/url=http://{{.HTTPIP}}:{{.HTTPPort}}/preseed.cfg ",
        "<enter>"
      ],
      "disk_size": 131072,
      "cpus": 2,
      "memory": 2048,
      "prlctl": [
        [
          "set",
          "{{.Name}}",
          "--adaptive-hypervisor",
          "on"
        ],
        [
          "set",
          "{{.Name}}",
          "--3d-accelerate",
          "off"
        ],
        [
          "set",
          "{{.Name}}",
          "--videosize",
          "16"
        ],
        [
          "set",
          "{{.Name}}",
          "--pmu-virt",
          "on"
        ],
        [
          "set",
          "{{.Name}}",
          "--faster-vm",
          "on"
        ]
      ],
      "hard_drive_interface": "ide",
      "guest_os_type": "debian",
      "skip_compaction": false,
      "http_directory": "http",
      "iso_urls": [
        "iso/debian.iso",
        "iso/debian-10.8.0-amd64-netinst.iso",
        "https://mirrors.tuna.tsinghua.edu.cn/debian-cd/10.8.0/amd64/iso-cd/debian-10.8.0-amd64-netinst.iso",
        "http://cdimage.debian.org/mirror/cdimage/release/10.8.0/amd64/iso-cd/debian-10.8.0-amd64-netinst.iso",
        "https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-10.8.0-amd64-netinst.iso"
      ],
      "iso_checksum": "sha256:xxxx_xxxx",
      "ssh_username": "root",
      "ssh_password": "vagrant",
      "ssh_port": 22,
      "ssh_timeout": "3600s",
      "shutdown_command": "echo 'vagrant' | sudo -S shutdown -P now",
      "parallels_tools_flavor": "lin",
      "parallels_tools_mode": "upload",
      "parallels_tools_guest_path": "/root/parallels-tools-linux.iso",
      "prlctl_version_file": "/root/parallels-tools-version.txt"
    }
  ],
  "provisioners": [
    {
      "scripts": [
          "scripts/debian10/apt.sh",
          "scripts/debian10/network.sh"
          ],
          "type": "shell",
          "start_retry_timeout": "15m",
          "expect_disconnect": "true"
    },
    {
      "scripts": [
          "scripts/debian10/floppy.sh",
          "scripts/debian10/profile.sh",
          "scripts/debian10/vagrant.sh",
          "scripts/debian10/motd.sh",
          "scripts/debian10/fixtty.sh",
          "scripts/debian10/virtualbox.sh",
          "scripts/debian10/parallels.sh",
          "scripts/debian10/ergo.sh"
          ],
          "type": "shell",
          "pause_before": "120s",
          "start_retry_timeout": "15m",
          "expect_disconnect": "true"
    }
  ],
  "post-processors": [
    [
      {
        "type": "vagrant",
        "compression_level": 9,
        "keep_input_artifact": false,
        "vagrantfile_template": "tpl/vagrantfile.rb",
        "output": "builds/{{.Provider}}-debian.{{user `box_version`}}.box",
        "include": [
            "tpl/author.json"
        ]
      }
    ]
  ]
}
